

<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/header'); %>
  <title>Error</title>
</head>
<body>
  <h1>Error</h1>
  <p><%= message %></p>
  <a href="/">Go back to Home</a>
  <%- include('partials/footer'); %>
</body>
</html>